{% extends 'tiendaZapatillasApp/base2.html' %}

{% block title %}Carrito de Compras{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 aling-self-center"><h1 class="display-1 text-center"> tienda </h1></div>
</div>
<div class="row">
    <div class="col-8">
        <div class="row" style="padding: 10px 0;">
            <div class="col-12">
                <div class="row">
                    {% for producto in productos %}
                        <div class="col-6">
                            <div class="card" style="height: 10rem; width: 23rem; margin: 5px 0px;">
                                <div class="card-body">
                                    <h5 class="card-title"> {{producto.nombre}} </h5>
                                    <p class="card-text"> {{producto.precio}} </p>
                                    <a href="{% url 'add' producto.id %}" class="btn btn-primary"> agregar al carrito</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        {% include "carrito/widget.html" %}
    </div>
</div>
{% endblock %}