{% extends 'tiendaZapatillasApp/base.html' %}
{% load static %}

{% block content%}

<div class="eslogan">
    <h1>Zapatillas San Antonio</h1>
</div>

<!-- AQUI EMPIEZA EL CAROUSEL -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="{% url 'marca_adidas' %}">
                <img src="{% static 'img/adidas1.jpg' %}" class="d-block w-100" alt="carouse1">
            </a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'nike' %}">
                <img src="{% static 'img/nike1.png' %}" class="d-block w-100" alt="carouse2">
            </a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'puma' %}">
                <img src="{% static 'img/puma.jpg' %}" class="d-block w-100" alt="carouse3">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="pord-dest">
    <h2>Productos mas vendidos</h2>
</div>
<!-- SECCION PRODUCTOS DESTACADOS -->
<section>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card mx-auto">
                <img src="https://nikeclprod.vtexassets.com/arquivos/ids/723350-1200-1200?v=638241048470070000&width=1200&height=1200&aspect=true"
                    class="card-img-top" alt="card1">
                <div class="card-body">
                    <h5 class="card-title">Nike Air Force 1 07</h5>
                    <p class="card-text">Diseñada originalmente para el básquetbol, la amortiguación Nike Air agrega
                        comodidad ligera durante todo el día.</p>
                    <!-- <a href="#" class="btn btn-primary">Agregar al carrito</a> -->
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card mx-auto">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e2f8f7e1c3c94815a2cbdea28b6255d6_9366/Zapatillas_Samba_OG_Negro_IE3438_01_standard.jpg"
                    class="card-img-top" alt="card2">
                <div class="card-body">
                    <h5 class="card-title">Adidas VL Court 3.0</h5>
                    <p class="card-text">Zapatilla modelo femenino casual inspiradas en el skateboarding.</p>
                    <!-- <a href="#" class="btn btn-primary">Agregar al carrito</a> -->
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card mx-auto">
                <img src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa/global/391962/10/sv01/fnd/CHL/w/640/h/640/fmt/png"
                    class="card-img-top" alt="card3">
                <div class="card-body">
                    <h5 class="card-title">Puma Suede Classic XXI</h5>
                    <p class="card-text">Un empeine completo de gamuza y toques modernos, que mejoran la calidad
                        general.</p>
                    <!-- <a href="#" class="btn btn-primary">Agregar al carrito</a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="pord-dest">
    <h2>Proximamente mas marcas</h2>
</div>

{% endblock %}