{% extends 'tiendaZapatillasApp/base2.html' %}
{% load widget_tweaks %}
{% block title %}Cambia tu contraseña{% endblock %}

{% block content %}
<div class="container mt-5 text-white">
    <h1>Cambia tu contraseña</h1>
    <p>Usa el formulario de abajo para cambiar tu contraseña</p>
    <form method="post" class="mt-4">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            {# Custom labels for each field #}
            {% if field.name == 'old_password' %}
            <label for="{{ field.id_for_label }}" class="form-label">Contraseña antigua</label>
            {% elif field.name == 'new_password1' %}
            <label for="{{ field.id_for_label }}" class="form-label">Nueva contraseña</label>
            {% elif field.name == 'new_password2' %}
            <label for="{{ field.id_for_label }}" class="form-label">Confirma nueva contraseña</label>
            {% else %}
            {{ field.label_tag }}
            {% endif %}
            {% render_field field class="form-control" %}
            {# Error messages for each field #}
            {% if field.errors %}
            <div class="text-danger mt-1">
                {% for error in field.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Guardar cambios</button>
    </form>
</div>
{% endblock %}