{% extends 'tiendaZapatillasApp/base2.html' %}

{% block title %}Administracion{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-white">Edicion de zapatillas</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'edicion_zapatilla'%}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id_zapatilla" value="{{ zapatilla.id_zapatilla }}">
                    <div class="form-group mb-3">
                        <input type="text" id="txtMarca" name="txtMarca" value="{{zapatilla.marca}}" class="form-control" placeholder="Marca" maxlength="20" readonly
                            required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtModelo" name="txtModelo" value="{{zapatilla.modelo}}" class="form-control" placeholder="Modelo"
                            maxlength="40" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="numPrecio" name="numPrecio" value="{{zapatilla.precio}}" class="form-control" min="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success w-100 text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}